.container{
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
     
}

.container_form{
    @extend.container;
    max-width: 590px;
}

.container_form_no_margin{
    @extend.container;
    @extend.container_form;
    margin: 0;
    padding: 0;
}