
// H-----------------------------------
$text_h1: 38px;
$text_h2_big: 38px;
$text_h2: 30px;
$text_h3: 22px;
$text_h3_caps: 14px;
$text_h4: 16px;
$text_p: 16px;
$text_a: 16px;
$text_a_small: 12px;

// Weight------------------------------
$font_weight_basic: 700;
$font_weight_second: 400;

// Line-height-------------------------
$line-height_h: 1.22;
$line-height_p: 1.625;
$line-height_a: 1.44;

