*{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(245, 140, 2, 0.945);
    background-color: black;
}
h1{
    color: cadetblue;
}
#Selector{
    background-color: cornflowerblue;
}
.selector_class{
    color: blue;
}
p span{
    color: beige;
}
.child_selectors > span{
background-color: chartreuse;
color: coral;
}
b+i{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: brown;
}
p ~ h3{
color: darkgreen;
}
.class_1{
    color: cyan;
}
.class_2{
    background-color: rgb(41, 35, 35);
}
