.button_form {
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    padding: 15px 0;
    color: $white;
    font-weight: $font_weight_basic;
    width: 100%;
    &:hover{
        background: $color_active_hover;
    }
    &:active{
        background: $color_active_active;
    } 
}

.active{
    a{
        color: $color_accent;
        border-bottom: 2px solid $color_accent;
        pointer-events: none
    }
}

.active_button{
    background: #F0145A;
    border-radius: 8px;
    padding: 5px 7px;
    pointer-events: none;
}