.button_form {
    background: #24A3FF;
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    padding: 15px 0;
    color: $white;
    font-weight: $font_weight_basic;
    width: 100%;
}