@import'./base/reset2';
@import'./base/container';
@import'./base/fonts';
@import'./base/typography';
@import'./base/variables';
@import'./layout/header';
@import'./layout/main';
@import'./layout/footer.scss';
@import'./components/humburger';
@import'./layout/forms';
@import'./components/button_form ';

*{
    box-sizing: border-box
  }

body {
    font-family: 'Montserrat';
    font-size: $text_p;
    font-weight: $font_weight_second;
    line-height: $line-height_p;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.main {
    flex-grow: 1;
}

img {
    // max-width: 100%;
    height: auto;
    // object-fit: cover;
    
}

a {
    text-decoration: none;
}

#checkbox_roggle {
    @media (max-width: 496px) {
        &:checked {
            ~.navigation_bottom {
                display: block;
                transform: translateY(0%);
                transition: all 0.8s;
            }
        }
    }
}


#checkbox_roggle {
    @media (max-width: 496px) {
        &:checked {
            ~.humburger {
                background: $color_grey_text;
            }
        }
    }
}
















// #checkbox_roggle {
//     @media (max-width: 496px) {
//         &:checked {
//             ~.humburger {
//                .humburger_line{
//                 background:transparent;
//                }
//             }
//         }
//     }
// }

// #checkbox_roggle {
//     @media (max-width: 496px) {
//         &:checked {
//             ~.humburger {
//                .humburger_line{
//                 &::before{
//                     transform: rotate(-45deg);
//                     top: 0;
//                 }
//                }
//             }
//         }
//     }
// }

// #checkbox_roggle {
//     @media (max-width: 496px) {
//         &:checked {
//             ~.humburger {
//                .humburger_line{
//                 &::after{
//                     transform: rotate(45deg);
//                     top: 0;
//                 }
//                }
//             }
//         }
//     }
// }








// #checkbox_roggle {
//     @media (max-width: 496px) {
//         &:checked {
//             ~.humburger {
//                 background: $color_grey_text;
//                 border-radius: 8px;
//                 // padding: 19px 7px;
//                 padding-left: 7px;
//                 padding-bottom: 19px;
//                 padding-right: 7px;
//                 padding-top: 19px;
//             }
//         }
//     }
// }