@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Semibold.woff2") format("woff2"),
    url("../fonts/GraphikLCG-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Regular.woff2") format("woff2"),
    url("../fonts/GraphikLCG-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.conteiner {
  max-width: 1320px;
  margin: 0 auto;

}

body {
  font: 15px/1.333 "Graphik LCG";
}

/* header */

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid black;
}

.nav_left {
  display: flex;
  align-items: center;
  justify-content: space-around;
 width: 830px;
}

.nav_left > img {
  width: 130px;
  height: 30px;
}

.nav_text {
  display: flex;
  justify-content: space-between;
}

.nav_text a {
  text-decoration: none;
  color: black;
  padding: 0 25px;
}

.nav_text a:hover {
  color: #ff6336;
}

.nav_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.nav_log_in:hover {
  color: #ff6336;
}

.nav_log_in {
  font: 600 16px/1 "Graphik LCG";
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px 35px;
  text-decoration: none;
  color: black;
  display: inline-block;
}

.nav_try_it_free:hover {
  color: black;
}

.nav_try_it_free {
  font: 600 16px/1 "Graphik LCG";
  background-color: #ff6336;
  padding: 15px 22px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* main */

.main_content {
  display: flex;
  justify-content: center;
  padding: 130px 0 170px;
}

.main_left h1 {
  font: 600 65px/1.08 "Graphik LCG";
  width: 550px;
  padding-bottom: 50px;
}

.main_left h2 {
  font: 400 25px/1.4 "Graphik LCG";
  width: 470px;
  padding-bottom: 50px;
}

.main_left p {
  line-height: 25px;
  padding-top: 25px;
}

.main_left > .nav_log_in {
  padding: 15px 20px;
}

.main_book_a_demo {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px 35px;
  text-decoration: none;
  color: black;
}

/* brands */
.brands {
  background: #ff9c7d;
  padding: 110px 0 105px 0;
}

.texth2_center {
  display: flex;
  justify-content: center;
}

.brands h2 {
  font: 600 50px/1.2 "Graphik LCG";
  width: 720px;
  padding-bottom: 70px;
}

.photo_brands {
  display: flex;
  justify-content: space-around;
}

/* table1 */
.box_table {
  padding: 90px 0 150px 0;
}

.table1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 250px;
}

.table_left h2 {
  padding-bottom: 30px;
  width: 495px;
  font: 600 50px/1.2 "Graphik LCG";
}

.table_left p {
  width: 490px;
  padding-bottom: 35px;
  font: 20px/1.5 "Graphik LCG";
}

.table_left a {
  text-decoration: none;
  color: black;
  font: 600 20px/1.5 "Graphik LCG";
}

.table_left a:hover {
  color: #ff6336;
}

/* table2 */
.table2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 250px;
}

/* table3 */
.table3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

/* lolocalize */
.wrapper_localize {
  background-color: #fff8e4;
  padding: 120px 0 75px 0;
}

.wrapper_localize h2 {
  padding-bottom: 85px;
  text-align: center;
  font: 600 50px/1.2 "Graphik LCG";
}

.localize {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.localize_table {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px;
}

.localize_table p {
  width: 310px;
  text-align: center;
  padding-top: 20px;
  font: 18px/1.39 "Graphik LCG";
}

.localize_table h3 {
  font: 600 25px/1.4 "Graphik LCG";
}

.localize_table img {
  width: 160px;
  height: 120px;
  padding-bottom: 20px;
}

/* block */
.block {
  padding: 155px 0 185px 0;
}

.block h2 {
  padding-bottom: 75px;
  font: 600 50px/1.2 "Graphik LCG";
}

.block_table {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.block_table h3 {
  font: 600 30px/1.33 "Graphik LCG";
}

.block_table p {
  width: 310px;
  padding-top: 35px;
  font: 20px/1.5 "Graphik LCG";
}

.block_table img {
  padding-bottom: 60px;
}

.block_table a {
  text-decoration: underline;
  color: black;
  padding-top: 25px;
  font: 20px/1.5 "Graphik LCG";
}

.block_table a:hover {
  color: #ff6336;
}

/* block man */
.box_man_main {
  background-color: #c9e8f2;
  padding: 65px 0 105px 0;
}

.block_man_main {
  display: flex;
  justify-content: space-between;
}

.block_man h2 {
  width: 920px;
  padding-bottom: 25px;
  font: 30px/1.33 "Graphik LCG";
}

.block_man p {
  padding-bottom: 15px;
  font: 15px/1.67 "Graphik LCG";
}

/* block cake */
.box_cake {
  background-color: #dabc98;
  padding: 90px 0 90px 0;
}

.block_cake {
  display: flex;
  align-items: center;
}

.block_cake > img {
  padding-right: 70px;
}

.block_cake > h2 {
  font: 600 35px/1.43 "Graphik LCG";
  width: 465px;
  padding-right: 195px;
}

.block_star img {
  display: block;
  padding-bottom: 20px;
}

.block_star {
  padding-right: 70px;
}

/* block_bird */
.block_bird {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0;
}

.block_bird h2 {
  font: 600 65px/1.15 "Graphik LCG";
  width: 790px;
  text-align: center;
}

.block_bird img {
  width: 1025px;
  padding-bottom: 35px;
}

.block_bird p {
  padding-bottom: 25px;
  font: 25px/1.2 "Graphik LCG";
  width: 540px;
  text-align: center;
}

/* block_expectation*/
.box_block_expectation {
  background-color: #ff9c7d;
  padding: 120px 0 160px;
}

.block_expectation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block_expectation h2 {
  padding-bottom: 30px;
  font: 600 65px/1.15 "Graphik LCG";
  width: 785px;
  text-align: center;
}

.block_expectation p {
  padding-bottom: 55px;
  font: 20px/1.5 "Graphik LCG";
}

.block_expectation a {
  background-color: black;
  color: white;
}

.block_expectation a:hover {
  color: #ff6336;
}

/* footer */

.footer_top {
  display: flex;
  justify-content: space-between;
  padding: 95px 0 95px 0;
}

.footer_box1 {
  width: 300px;
}

.footer_box1 h2 {
  padding-bottom: 30px;
  font: 600 40px/1.25 "Graphik LCG";
}

.footer_box1 img {
  display: block;
}

.footer_box1 h2 + img {
  padding-bottom: 40px;
}

.footer_box1 img + img {
  padding-bottom: 10px;
}

.footer_box1 h3 {
  padding-bottom: 15px;
  font: 20px/1.2 "Graphik LCG";
}

.footer_box1 a {
  text-decoration: none;
  color: black;
  font: 600 20px/1.5 "Graphik LCG";
}

.footer_box1 a:hover {
  color: #ff6336;
}

.footer_box2 {
  display: flex;
  flex-direction: column;
}

.footer_box2 p {
  padding-bottom: 20px;
  font: 600 20px/1.25 "Graphik LCG";
}

.footer_box2 a {
  text-decoration: none;
  padding-bottom: 15px;
  color: black;
}

.footer_box2 a:hover {
  color: #ff6336;
}

.footer_bottom {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 40px 0;
}

.footer_bottom_left {
  display: flex;
}

.footer_bottom_left img {
  height: 21px;
  padding-right: 15px;
}

.footer_bottom_left p {
  width: 300px;
  font: 12px/1.25 "Graphik LCG";
}

.footer_bottom_right {
  font: 12px/1.25 "Graphik LCG";
}




@media (max-width: 600px) {
  /* header */
  .conteiner {
    max-width: 90%;
  }

  .nav_text{
    display: block;
  }

  .nav_text a {
    padding: 0;
  }

  .nav_left{
    display: block;
   width: auto;
  }

  .nav_right{
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
  }

  .nav_log_in{
    margin-bottom: 10px;
  }
  /* main */
.main_content{
  display: block;
}

.main_left h1{
width: 100%;
}

.main_left h2{
  width: 100%;
  }

  .main_content img{
    display: block;
    width: 100%;
  }

  /* brands */
  .brands h2 {
    width: 100%;
  }

  .photo_brands {
    flex-direction: column;
   align-items: center;
  }

  .photo_brands img{
    width: 40%;
    margin-bottom: 50px;
  }

/* table1 */

.table1 {
  display: block;
}

.table_left h2 {
  width: 100%;
}

.table_left p{
  width: 100%;
}

.table_right img{
  width: 100%;
  padding-top: 20px;
}

/* table2 */
.table2 {
  display: block;
}

/* table3 */
.table3 {
  display: block;
}

/* lolocalize */

.localize{
  display: column;
}

.localize_table{
  width: 100%;
}

/* block */

.block_table {
  width: 100%;
  align-items: center;
}

.block_table a{
  padding-bottom: 20px;
}

/* block man */

.block_man_main{
  display: block;
}

.block_man h2{
  width: 100%;
} 

.block_man_main img{
padding-top: 20px;
}

/* block_cake */

.block_cake{
  flex-direction: column;
}

.block_cake h2{
  width: 100%;
  padding: 0;
  padding-top: 20px;
  text-align: center;
}

.block_cake>img{
 padding: 0;

}

.block_star{
  padding: 0;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .block_bird  */

.block_bird h2{
width: 100%;
}

.block_bird p{
  width: 100%;
}

.block_bird img{
  width: 100%;
}


/* block_expectation */

.block_expectation h2{
  width: 100%;
}

.block_expectation p{
  width: 100%;
}

/* footer */
.footer_top{
  flex-direction: column;
}


.footer_box2 p{
  padding-top: 50px;
}

  }
