body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.conteiner {
  max-width: 1110px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

/* header */
.top_part {
  background-color: #eeeff1;
  height: 700px;
}

.navigation {
  display: flex;
  padding-top: 80px;
  font-family: "Roboto" Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.navigation_text + .navigation_text {
  padding-left: 40px;
}

.navigation_text a {
  text-decoration: none;
  color: black;
}

.desin {
  padding-top: 160px;
  font-family: "Roboto" Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;

  color: #000000;
}

.fish_header {
  width: 540px;
  padding-right: 570px;
  padding-top: 60px;
  padding-bottom: 65px;
  font-family: "Roboto" Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #727272;
}

.write_me {
  font-family: "Roboto" Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.write_me a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding-left: 40px;
  padding-top: 20px;
  background-color: #34547a;
  padding-right: 40px;
  padding-bottom: 20px;
}

/* Обо мне  */
.about_me {
  height: 360px;
}

.about_me h2 {
  padding-top: 110px;
  text-align: center;
  font-family: "Roboto" Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.about_me h3 {
  padding-top: 50px;
  text-align: center;
  width: 540px;
  display: block;
  margin: 0 auto;
  font-family: "Roboto" Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #727272;
}

/* ПРОЕКТЫ */

.project {
  background: #34547a;
}

.block_project {
  display: flex;
  height: 250px;
}

.block {
  display: flex;
  padding-top: 100px;
  margin: 0 auto;
}

.block p {
  padding-left: 20px;
  padding-top: 5px;
}

.block_meaning1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
}

.block_meaning2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

/* как я работаю */
.work_shell {
  background-color: #eeeff1;
  height: 1000px;
}

.work h2 {
  padding-top: 100px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.work h3 {
  width: 540px;
  margin: 0 auto;
  padding-top: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.work video {
  padding-top: 60px;
}

/* footer */
.bottom_panel {
  background-color: #34547a;
  height: 150px;
}

.bottom_panel h2 {
  padding-top: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
}

.bottom_panel h3 {
  padding-top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}
