body {
font: 500 16px/1.625 "Roboto", "Arial", "Helvetica", "sans-serif";}

.conteiner {
  max-width: 1110px;
  margin: 0 auto;
}

/* header */
.background1 {
  background-color: #eeeff1;
}

.navigation {
  display: flex;
  padding-top: 80px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.main{
  margin-right: 20px;
}

.navigation_text + .navigation_text {
  margin-left: 20px;
  margin-right: 20px;
}

.navigation_text a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.desin {
  padding-top: 160px;
  font-size: 48px;
  color: #000000;
}

.fish_header {
  width: 540px;
  padding: 60px 570px 65px 0px;
  font-weight: 400;
  color: #727272;
}

.write_me {
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding-bottom: 140px;
}

.write_me a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 20px 40px;
  background-color: #34547a;
  text-transform: uppercase;
}

a:hover { background: rgb(5, 204, 187);}

a.main{ color: #34547A;}

/* Обо мне  */

.about_me h2 {
  padding-top: 110px;
  text-align: center;
  font-size: 32px;
  line-height: 1.1875;
  color: #000000;
}

.about_me p {
  padding: 50px 0px 100px 0px;
  text-align: center;
  width: 540px;
  display: block;
  margin: 0 auto;
  font-weight: 400;
  color: #727272;
}

/* ПРОЕКТЫ */

.project {
  background: #34547a;
}

.block_project {
  display: flex;
}

.block {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.block p {
  padding-left: 20px;
}

.block_meaning1 {
  font-size: 21px;
  line-height: 1.905;
  color: #ffffff;
}

.block_meaning2 {
  font-weight: 400;
  color: #ffffff;
}

/* как я работаю */
.work_shell {
  background-color: #eeeff1;
}

.work h2 {
  padding-top: 100px;
  text-align: center;
  font-size: 32px;
  line-height: 1.1875;
  color: #000000;
}

.work p {
  width: 540px;
  margin: 0 auto;
  padding: 50px 0px 60px 0px;
  font-weight: 400;
  color: #727272;
}

.work video {
  padding: 0px 0px 100px 0px;
  width: 1100px;
  height: 600px;
}

/* footer */
.bottom_panel {
  background-color: #34547a;
  height: 150px;
}

.bottom_panel h2 {
  padding-top: 50px;
  font-size: 21px;
  line-height: 1.1905;
  color: #ffffff;
}

.bottom_panel p {
  padding-top: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.6154;
  color: #ffffff;
}
