.footer {
    background: $color_grey_bg;
}

.wraper_footer {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    @media (max-width: 640px) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    a {
        display: inline-block;
        font-size: $text_a_small;
        text-transform: uppercase;
        font-weight: $font_weight_basic;
        color: $color_active_regular;

        &:hover {
            color: $color_accent;
        }
    }

    span {
        &:empty {
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $color_grey_text;
            display: inline-block;
            margin: 0 10px;
            color: $white;
        }
    }

    @media (max-width: 640px) {
        span {
            &:empty {
                display: none;
            }
        }
    }
}

.footer_top {
    width: 100%;
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;

    address {
        font-style: normal;
    }

    @media (max-width: 640px) {
        display: block;
        text-align: center;

        address {
            padding-bottom: 10px;
        }


        a {
            padding-bottom: 20px;
        }
    }
}

.footer_bottom {
    width: 100%;
    display: flex;
    align-items: center;
    grid-area: 2/1/3/3;

    .tel {
        font-size: $text_a;
        color: #46466E;
    }

    a {
        font-size: $text_a;
    }

    @media (max-width: 640px) {
        flex-direction: column;
        text-align: center;

        a {
            padding-bottom: 10px;
        }
    }
}

.social_link {
    &:hover {
        svg {
            * {
                fill: $color_accent;
            }
        }
    }
}

.footer_text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    grid-area: 1/2/2/3;

    @media (max-width: 640px) {
        grid-area: 3/1/4/2;
        justify-content: center;
    }
}