.box_main_top {
    background: url(../img/Homepage/logoH.svg), $color_gradient_supersoft;
    background-repeat: no-repeat;
    background-position: 50% 0, 100%;
    background-size: auto 100vh, 100%;
    border-radius: 0px 0px 12px 12px;

    h1 {
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-size: $text_h1;
        font-weight: $font_weight_basic;
        color: $white;

    }
}

.box_main_bottom {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 10px;
        background: #CACADB;
        border-radius: 0px 0px 12px 12px;
        z-index: 5;
        margin: 0 20px;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 10px;
        height: 10px;
        background: #E7E7F2;
        border-radius: 0px 0px 12px 12px;
        z-index: 5;
        margin: 0 40px;
    }
}

.main_tb1 {
    a {
        height: 42px;
        width: 42px;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: 50px;
        align-items: center;

        &::before {
            content: '';
            border-bottom: 2px solid #FFFFFF;
            border-left: 2px solid #FFFFFF;
            height: 10px;
            width: 10px;
            transform: rotate(-45deg) translate(7px, 14px);
            display: inline-block;
        }

        &:hover {
            border: 2px solid $color_accent;

            &::before {
                border-bottom: 2px solid $color_accent;
                border-left: 2px solid $color_accent;
            }
        }
    }
}

.main_tb2 {
    padding: 90px 0 60px;
}

.servis {
    h2 {
        padding-bottom: 60px;
        font-size: $text_h2_big;
        font-weight: $font_weight_basic;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a {
        padding-bottom: 10px;
        font-weight: $font_weight_basic;
        color: $color_active_regular;
        text-transform: uppercase;
        font-size: $text_h3_caps;

        &:hover {
            color: $color_accent;
        }

        &::after {
            content: '\1433';
            margin-left: 6px;
        }
    }
    @media (max-width: 496px) { 
        h2 {
            font-size: $text_h2;
        }
    }
}

.main_tb3 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.tb3_item {
    width: 33.33%;

    @media (max-width: 768px) {
        width: 50%;
    }

    @media (max-width: 496px) {
        width: 100%;
    }

    a {
        padding: 30px 60px 0 0;
        font-size: $text_h3;
        font-weight: $font_weight_basic;
        color: $color_active_regular;
        display: block;

        &:hover {
            color: $color_accent;
        }
    }

    p {
        padding: 15px 60px 60px 0;
        color: $white;
    }
}


.box_main_tb4 {
    padding-top: 80px;
}

// SLICK-------------------------------------------------
.slick-dots li.slick-active button:before {
    font-size: 16px;
    color: $color_active_regular;
    padding-top: 30px;
}

.slick-dots li button:before {
    padding-top: 30px;
    opacity: 0.2;
    font-size: 16px;
    color: $color_active_regular;
}

.slick-initialized .slick-slide {
    display: flex;

    @media (max-width: 850px) {
        display: block;
    }
}

// -------------------------------------------------------

.main_tb4 {
    background: $color_grey_bg;
    border-radius: 12px;
}

.carousel-item {
    display: flex;

    img {
        object-fit: cover;
        height: 400px;
        border-radius: 12px 0px 0px 12px;
    }

    @media (max-width: 850px) {
        display: block;

        img {
            width: 100%;
            height: 500px;
        }
    }
}

.carousel-item_text {
    padding: 30px;

    a {
        padding-bottom: 5px;
        font-size: $text_h3_caps;
        font-weight: $font_weight_basic;
        color: $color_active_regular;
        text-transform: uppercase;

        &::after {
            content: "·ê≥";
            margin-left: 6px;
        }
    }

    h2 {
        padding-bottom: 30px;
        font-size: $text_h2_big;
        font-weight: $font_weight_basic;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        padding-bottom: 6px;
        font-weight: $font_weight_basic;
        color: $color_grey_text;
    }

    h3 {
        font-weight: $font_weight_second;
        font-size: $text_h3_caps;
        color: $color_grey_text;
    }
    @media (max-width: 496px) { 
        h2 {
            font-size: $text_h2;
        }
    }
}


.main_tb5 {
    padding: 60px 0;

    h3 {
        font-size: $text_h3_caps;
        text-align: center;
        padding-bottom: 30px;
        font-weight: $font_weight_basic;
        text-transform: uppercase;
    }
}

.tb5_brands {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 120px 120px 120px;
    margin: 0 -60px;

    li {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 1720px) {
        margin: 0;
    }

    @media (max-width: 996px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 120px 120px 120px 120px;
    }

    @media (max-width: 730px) {
        grid-template-columns: 100%;
        grid-template-rows: 120px 120px 120px 120px 120px 120px;

        .brand7 {
            display: none;
        }

        .brand8 {
            display: none;
        }

        .brand9 {
            display: none;
        }

        .brand10 {
            display: none;
        }

        .brand11 {
            display: none;
        }

        .brand12 {
            display: none;
        }
    }
}

.brand1 {
    background: #1C4280;
}

.brand2 {
    background: #143646;
}

.brand3 {
    background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}

.brand4 {
    background: #9E4DC3;
}

.brand5 {
    background: #FD9339;
}

.brand6 {
    background: #E2E2E4;
}

.brand7 {
    background: #C71C36;
}

.brand8 {
    background: #DCF3F9;
}

.brand9 {
    background: #EAEAEA;
}

.brand10 {
    background: #282240;
}

.brand11 {
    background: #1D4568;
}

.brand12 {
    background: #000000;
}

.box_main_tb6 {
    background: $color_grey_bg;
}

.main_tb6 {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

    &::before {
        content: '';
        border: 2px solid $color_grey_separator;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 0;
        z-index: 10;
    }

    a {
        display: block;
        padding-bottom: 10px;
        font-weight: $font_weight_basic;
        color: $color_active_regular;
        text-transform: uppercase;
        font-size: $text_h3_caps;

        &:hover {
            color: $color_accent;
        }

        &::after {
            content: '\1433';
            margin-left: 6px;
        }
    }

    h2 {
        padding-bottom: 30px;
        font-size: $text_h2_big;
        font-weight: $font_weight_basic;
        background: $color_gradient_red_text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
    @media (max-width: 496px) { 
        h2 {
            font-size: $text_h2;
        }
    }
}

.tb6_icon_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .class_grid {
            grid-area: 2/1/3/3;
        }
    }

    @media (max-width: 496px) {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;

        .class_grid {
            grid-area: 3/1/4/2;
        }
    }
}

.tb6_icon {
    background: $white;
    border-radius: 8px 8px 0px 0px;

    p {
        position: relative;
        padding: 0 30px;
        font-size: $text_h3_caps;

        &::before {
            content: "";
            border: 4px solid $color_grey_separator;
            left: 0;
            right: 0;
            position: absolute;
            top: -15px;
            z-index: 10;
            margin: 0 30px;
        }
    }

    time {
        display: block;
        padding: 15px 30px 34px 30px;
        font-size: $text_a_small;
        text-transform: uppercase;
        font-weight: $font_weight_basic;
        color: $color_grey_text;
    }

    img {
        width: 100%;
        border-radius: 8px 8px 0px 0px;
        padding-bottom: 30px;

    }

    a {
        display: block;
        padding-left: 30px;
        text-transform: none;
        font-size: $text_h3_caps;

        &::after {
            display: none;
        }
    }
}


.col {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        overflow: hidden;
    }
}

.tabs-nav {
    nav {
        padding-right: 60px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        color: $color_grey_text;
        width: 460px;
        border-right: 4px solid rgba(255, 255, 255, 0.3);
        justify-content: end;

        a {
            text-align: end;
            font-size: $text_h2_big;
            font-weight: $font_weight_basic;
            position: relative;
            padding-bottom: 60px;
            cursor: pointer;
            white-space: nowrap;

            &:hover {
                color: $color_accent;
            }
        }

        @media (max-width: 768px) {
            justify-content: flex-start;;
            flex-wrap: nowrap;
            border-right: 0;
            overflow: auto;
            width: auto;

            a {
                padding-right: 30px;
                white-space: nowrap;
            }
        }

        @media (max-width: 496px) {
            a {
                font-size: $text_h2;
            }
        }
    }
}

/* tabs triangle */
.triangle-container {
    position: absolute !important;
    z-index: 10;
    top: 0;
    left: 99.6%;
    width: 30px !important;
    background: transparent !important;
    height: 100%;
}

.content {
    position: relative;
    transition: opacity 0.1s linear 0s;
    display: none;

    h2 {
        padding-top: 60px;
        color: #FFFFFF;
        font-size: $text_h2;
        font-weight: $font_weight_basic;
    }

    p {
        padding-top: 30px;
        color: #FFFFFF;
        font-size: 19px;
    }

    @media (max-width: 496px) {
      
        h2 {
            font-size: $text_p_big;
        }
    }
}

.tabs .content.visible {
    display: block;
    padding-left: 60px;
    height: 400px;
    @media (max-width: 768px) {
        padding-left: 0;
    }
}

nav a.selected {
    background: $color_gradient_red_text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tab_box {
    position: relative;
    width: 100%;
    max-width: 1090px;
    display: flex;
    align-items: stretch;

    @media (max-width: 768px) {
        display: block;
    }

}