body {
  font: 500 16px/1.625 "Roboto", "Arial", "Helvetica", "sans-serif";
}

.conteiner {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.background1 {
  background-color: #eeeff1;
}

.navigation {
  display: flex;
  padding-top: 80px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.list > li {
  display: inline-block;
  text-transform: uppercase;
  position: relative;
}

.list > li:hover > a {
  background: rgb(5, 204, 187);
}

.list > li:hover .dropdown {
  display: inline-block;
}

.navigation a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 10px 20px;
}
.dropdown {
  background-color: #34547a;
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
}

.dropdown a::before {
  content: "\25c9";
  color: white;
  padding-right: 10px;
}

.dropdown a {
  display: block;
  width: 200px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.dropdown > li {
  position: relative;
}

.dropdown_item {
  position: absolute;
  background: #727272;
  left: 100%;
  top: 0;
  display: none;
}

.dropdown_item a::before {
  content: "\25bd";
  color: white;
  padding-right: 10px;
}

.dropdown > li:hover .dropdown_item {
  display: inline-block;
}

.desin {
  padding-top: 160px;
  font-size: 48px;
  color: #000000;
}

.fish_header {
  width: 540px;
  padding: 60px 570px 65px 0;
  font-weight: 400;
  color: #727272;
}

.write_me {
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding-bottom: 140px;
}

.write_me a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 20px 40px;
  background-color: #34547a;
  text-transform: uppercase;
}

a:hover {
  background: rgb(5, 204, 187);
}

a.main {
  color: #34547a;
}

/* Обо мне  */

.about_me h2 {
  padding-top: 110px;
  text-align: center;
  font-size: 32px;
  line-height: 1.1875;
  color: #000000;
}

.about_me p {
  padding: 50px 0 100px 0;
  text-align: center;
  width: 540px;
  display: block;
  margin: 0 auto;
  font-weight: 400;
  color: #727272;
}

/* ПРОЕКТЫ */

.project {
  background: #34547a;
}

.project .conteiner {
  font-size: 0;
}

.block {
  padding: 100px 0px;
  display: inline-block;
  width: 16.66%;
}

.block_meaning1 {
  font-size: 21px;
  color: #ffffff;
  display: block;
}

.block_meaning2 {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: block;
}

.block img {
  float: left;
  padding-right: 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* как я работаю */
.work_shell {
  background-color: #eeeff1;
}

.work h2 {
  padding-top: 100px;
  text-align: center;
  font-size: 32px;
  line-height: 1.1875;
  color: #000000;
}

.work p {
  width: 540px;
  margin: 0 auto;
  padding: 50px 0 60px 0;
  font-weight: 400;
  color: #727272;
}

.work video {
  padding: 0 0 100px 0;
  width: 1100px;
  height: 600px;
}

/* footer */
.bottom_panel {
  background-color: #34547a;
  height: 150px;
}

.bottom_panel h2 {
  padding-top: 50px;
  font-size: 21px;
  line-height: 1.1905;
  color: #ffffff;
}

.bottom_panel p {
  padding-top: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.6154;
  color: #ffffff;
}
